@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is strictly for testing. There is no data stored and no proprietary data held within.</p>
